<!DOCTYPE xhtml>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> World weather graph - set locality</title>
    <link rel='stylesheet' href='styles/simple.css' type='text/css' media="screen, projection">
    <link rel='stylesheet' href='styles/print.css' type='text/css' media="print">
    <link rel='shortcut icon' href='images/favicon.ico'>
  </head>
  <body>
    <img src="graphs/Trencin_Slovakia_temperature.png"><br />
    <img src="graphs/Trencin_Slovakia_humidity.png"><br />
    <img src="graphs/Trencin_Slovakia_pressure.png"><br />
  </body>
</html>
