/* Simple CSS style */
h1 {color:#FFFFFF}

body {
	background-image:url('blue_gradient.png');
	background-repeat:repeat-x;
}

td.temperature {
	padding:15px;
}

table.temperature {
	font-family:"Times New Roman",serif;
	font-size:60px;
	font-style:italic;
	border-collapse:collapse;
}



table.tablemain  {
			border-collapse:collapse;
			border: 1px solid black;
			background-color:white;
}

td.tablemain	{
			vertical-align:middle;
}

th.tablemain	{
			text-align:left;
			background-color:yellow
}
